.checkbox-md{
    width: 16px;
    height: 16px;
}

.checkbox-lg{
    width: 18px;
    height: 18px;
}

.pr-0{
    padding-right: 0px !important;
}

div[x-data]{
    margin-top: 50px !important;
}    

div[x-data] > div > .p-4{
    padding: 1rem 1.2rem !important;
}

.selected-row {
    background-color: #b2bbff !important;
}